*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top right, rgba(251,61,123,255), rgba(252,109,96,255));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}
header{
    width: 100vw;
    position: fixed;
}

/* navbar */

.navbar {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100vw;
}

.navbar > div > a {
    color: black;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.navbar > div ul {
    list-style: none;
    display: flex;
}

.navbar > div li a {
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px;
    text-decoration: none;
    color: black;
}

/* index */

.signup {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.form {
    width: 90vw;
    height: 100vh;
    max-width: 600px;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.signin-form {
    max-height: 400px;
}

.form-img {
    height: 100px;
    width: 100px;
    margin: 30px 0;
    border-radius: 50%;
}

.form > label >div {
    background-image: url(../assets/images/no-photo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input {
    width: 90%;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    font-size: 14px;
    margin: 10px 5%;
}

.form > .flex-col {
    width: 100%;
}

.form p {
    font-size: 14px;
    font-weight: bold;
}

.form > .flex-col > p {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    padding-left: 5%;
}

#dob {
    cursor: pointer;
}

.form select {
    height: 40px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
}

.form-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    background-color: rgba(252,86,110,255);
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
}

.switch-form {
    color: rgb(0, 78, 204);
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

#wrong-cred {
    color: red;
    font-size: 12px;
    display: none;
}

#email-taken {
    color: red;
    font-size: 12px;
    display: none;
}

/* feed.html */

#cards {
    margin-top: 100px;
}

.card {
    width: 250px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
}

.card > img {
    width: 250px;
    max-height: 250px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-self: center;
}

.name {
    font-size: 20px;
    margin: 10px;
}

.bio {
    margin: 10px;
    font-size: 14px;
    overflow: hidden;
    max-height: 75px;
    text-overflow: ellipsis;
}

.profile-view-main{
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}

.profile-view {
    width: 700px;
    height: 90vh;
    max-height: 600px;
    display: flex;
    background-color: rgba(247,247,247,255);
    color: black;
    border-radius: 25px;
}

.profile-view-image {
    flex-basis: 50%;
    border-top-left-radius:25px ;
    border-top-right-radius:25px ;
}

.profile-view-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
}

.profile-view-info > div> img {
    align-self: flex-end;
    width: 25px;
    margin: 10px;
    cursor: pointer;
}
.profile-view-info > div{
    margin-left: 30px;
}

.profile-view-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.profile-view-bio{
    margin: 10px 0;
    font-size: 14px;
}

.profile-view-bio > span{
    font-weight: 700;
}

.buttons-div {
    margin-bottom: 20px;
    margin-left: -30px;
}

.buttons-div button {
    padding: 8px 10px;
    font-size: 14px;
}

.buttons-div :nth-child(2){
    margin-right: 30px;
    margin-left: 10px;
}

.buttons-div :nth-child(1){
    margin-right: 10px;
}

/* Utilities */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.width-fit {
    width: fit-content;
}
.allign-center {
    align-self: center;
}

.display-none {
    display: none;
}

.width-40{
    width: 50%;
}

.width-90{
    width: 90%;
}

.gap-5{
    gap: 5%;
}

.container {
    max-width: 80vw;
    width: 80vw;
    display: flex;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

